#!/bin/bash

export TYPE=""
export PROJECT_ID=""
export PRIVATE_KEY_ID=""
export PRIVATE_KEY=""
export CLIENT_EMAIL=""
export CLIENT_ID=""
export AUTH_URI=""
export TOKEN_URI=""
export AUTH_PROVIDER_X509_CERT_URL=""
export CLIENT_X509_CERT_URL=""
export DATABASE_URL=""
